@charset "UTF-8";
/*Цвета проекта*/
/*Общие стили проекта*/
* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: 150ms ease;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  border: 4px solid #fff;
}

body, ul, li, a, button, h1, h2, h3, h4, input, textarea {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

textarea, input {
  outline: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.opacity-anim {
  transform: translateY(70px);
  transition: transform 1.5s;
}

.opacity-anim.opacity-show {
  transform: translateY(0px);
}

.blue-button {
  padding: 8px 16px;
  background: #324590;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.blue-button:hover {
  background: #4353FF;
}
.blue-button span {
  letter-spacing: 0.025em;
  line-height: 28px;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.body-block {
  overflow-y: hidden;
}

.header .header__wrapper {
  padding: 32px 128px;
  display: flex;
  justify-content: space-between;
  background: white;
}
@media (min-width: 1024px) {
  .header .header__wrapper {
    padding: 32px 128px;
  }
}
@media (max-width: 1024px) {
  .header .header__wrapper {
    padding: 32px 64px;
  }
}
@media (max-width: 768px) {
  .header .header__wrapper {
    padding: 32px 1.25rem;
  }
}
.header .header__menu-btn {
  height: 44px;
  position: fixed;
  right: 128px;
  display: block;
  z-index: 2;
}
@media (max-width: 1024px) {
  .header .header__menu-btn {
    right: 64px;
  }
}
@media (max-width: 768px) {
  .header .header__menu-btn {
    bottom: 20px;
    right: 40%;
  }
}
.header img {
  max-width: 200px;
}
.header .header__menu {
  right: -1344px;
  opacity: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 3;
  background: white;
  transition: 0.3s ease !important;
  filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.13));
  width: 30%;
}
@media (max-width: 1536px) {
  .header .header__menu {
    width: 35%;
  }
}
@media (max-width: 1280px) {
  .header .header__menu {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .header .header__menu {
    width: 100%;
  }
}
.header .header__menu .header__menu__body__pages__link:first-child a.opacity-anim {
  transition-delay: 0.5s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__pages__link:nth-child(2) a.opacity-anim {
  transition-delay: 0.6s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__pages__link:nth-child(3) a.opacity-anim {
  transition-delay: 0.7s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__forms__link:first-child a.opacity-anim {
  transition-delay: 0.8s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__forms__link:nth-child(2) a.opacity-anim {
  transition-delay: 0.9s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__forms__link:nth-child(3) a.opacity-anim {
  transition-delay: 1s;
  transform: translateY(70px);
}
.header .header__menu .blue-button.opacity-anim {
  transition-delay: 1.1s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__info .header__menu__body__info__link:first-child a.opacity-anim {
  transition-delay: 1.1s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__info .header__menu__body__info__link:nth-child(2) span.opacity-anim {
  transition-delay: 1.2s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__info .header__menu__body__info__link:nth-child(3) a.opacity-anim {
  transition-delay: 1.3s;
  transform: translateY(70px);
}
.header .header__menu .header__menu__body__info .header__menu__body__info__link:nth-child(4) a.opacity-anim {
  transition-delay: 1.4s;
  transform: translateY(70px);
}
.header .header__menu.menu-open {
  right: 0px;
  opacity: 1;
}
.header .header__menu.menu-open .header__menu__body__pages__link:first-child a.opacity-anim {
  transition-delay: 0.5s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__pages__link:nth-child(2) a.opacity-anim {
  transition-delay: 0.6s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__pages__link:nth-child(3) a.opacity-anim {
  transition-delay: 0.7s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__forms__link:first-child a.opacity-anim {
  transition-delay: 0.8s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__forms__link:nth-child(2) a.opacity-anim {
  transition-delay: 0.9s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__forms__link:nth-child(3) a.opacity-anim {
  transition-delay: 1s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .blue-button.opacity-anim {
  transition-delay: 1.1s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__info .header__menu__body__info__link:first-child a.opacity-anim {
  transition-delay: 1.1s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__info .header__menu__body__info__link:nth-child(2) span.opacity-anim {
  transition-delay: 1.2s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__info .header__menu__body__info__link:nth-child(3) a.opacity-anim {
  transition-delay: 1.3s;
  transform: translateY(0px);
}
.header .header__menu.menu-open .header__menu__body__info .header__menu__body__info__link:nth-child(4) a.opacity-anim {
  transition-delay: 1.4s;
  transform: translateY(0px);
}
.header .header__menu .header__menu__body {
  display: flex;
  flex-direction: column;
}
.header .header__menu .header__menu__body .header__menu__btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 58px 1.25px 0px;
}
@media (max-width: 1024px) {
  .header .header__menu .header__menu__body .header__menu__btns {
    border-bottom: 1px solid #324590;
  }
}
.header .header__menu .header__menu__body .header__menu__close {
  padding: 0.5rem 1.75rem;
  border: 1px solid #A9B2D9;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .header .header__menu .header__menu__body .header__menu__close {
    position: absolute;
    bottom: 20px;
    left: 44%;
  }
}
.header .header__menu .header__menu__body .header__menu__close:hover {
  border: 1px solid #4353FF;
}
.header .header__menu .header__menu__body .header__menu__close:hover svg path {
  fill: #4353FF;
}
.header .header__menu .header__menu__body .header__menu__close svg path {
  fill: #324590;
}
.header .header__menu .header__menu__body .header__menu__body__pages {
  font-size: 42px;
  letter-spacing: -0.5px;
  font-weight: 500;
  text-align: left;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  color: #324590;
  text-transform: uppercase;
}
.header .header__menu .header__menu__body .header__menu__body__pages .header__menu__body__pages__link {
  overflow: hidden;
  display: flex;
  transform: translateY(0px);
}
@media (max-width: 1024px) {
  .header .header__menu .header__menu__body .header__menu__body__pages .header__menu__body__pages__link {
    border-bottom: 1px solid #324590;
  }
}
.header .header__menu .header__menu__body .header__menu__body__pages .header__menu__body__pages__link a:hover {
  color: #4353FF;
}
.header .header__menu .header__menu__body .header__menu__body__pages .header__menu__body__pages__link a {
  line-height: 57px;
}
@media (max-width: 1024px) {
  .header .header__menu .header__menu__body .header__menu__body__pages .header__menu__body__pages__link a {
    font-size: 26px;
    line-height: 32px;
  }
}
.header .header__menu .header__menu__body .header__menu__body__forms {
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-align: left;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  gap: 0.5rem;
  flex-direction: column;
  display: flex;
  color: #324590;
}
.header .header__menu .header__menu__body .header__menu__body__forms .header__menu__body__forms__link {
  overflow: hidden;
  display: flex;
}
.header .header__menu .header__menu__body .header__menu__body__forms .header__menu__body__forms__link a {
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.header .header__menu .header__menu__body .header__menu__body__forms .header__menu__body__forms__link a:hover {
  color: #4353FF;
}
.header .header__menu .header__menu__body .blue-button__wrapper {
  display: flex;
  overflow: hidden;
}
.header .header__menu .header__menu__body .blue-button__wrapper .blue-button {
  padding: 18px 72px;
}
.header .header__menu .header__menu__body .blue-button__wrapper span {
  font-size: 19px;
  letter-spacing: 0.025em;
  line-height: 24px;
  font-weight: 500;
}
.header .header__menu .header__menu__body .header__menu__body__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 0px;
}
.header .header__menu .header__menu__body .header__menu__body__info .header__menu__body__info__link {
  overflow: hidden;
  display: flex;
}
.header .header__menu .header__menu__body .header__menu__body__info .header__menu__body__info__link .header__menu__mail {
  line-height: 32px;
  font-size: 28px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding-bottom: 12px;
}
.header .header__menu .header__menu__body .header__menu__body__info .header__menu__body__info__link a {
  line-height: 17px;
  font-size: 13px;
  color: #324590;
  font-weight: 500;
}
.header .header__menu .header__menu__body .header__menu__body__info .header__menu__body__info__link a:hover {
  color: #4353FF;
}
.header .header__menu .header__menu__body .header__menu__body__info .header__menu__body__info__link span {
  line-height: 26px;
  font-size: 15px;
  color: #324590;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.footer {
  padding: 0rem 128px 3rem;
  position: relative;
}
@media (max-width: 1024px) {
  .footer {
    padding: 0px 64px 3rem;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 6rem 1.25rem 3rem;
  }
}
.footer .footer__layout {
  align-items: flex-start;
  gap: 20px;
}
@media (min-width: 768px) {
  .footer .footer__layout {
    margin-top: 128px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
  }
}
@media (max-width: 768px) {
  .footer .footer__layout {
    flex-direction: column;
  }
}
.footer .footer__layout .footer__layout__info {
  max-width: 641px;
}
@media (max-width: 1024px) {
  .footer .footer__layout .footer__layout__info {
    max-width: 353px;
  }
}
@media (max-width: 768px) {
  .footer .footer__layout .footer__layout__info {
    max-width: none;
  }
}
.footer .footer__layout .footer__layout__info h2 {
  padding-bottom: 17px;
}
@media (max-width: 1024px) {
  .footer .footer__layout .footer__layout__info h2 {
    padding-bottom: 24px;
  }
}
.footer .footer__layout .footer__layout__info h2 a {
  font-size: 64px;
  letter-spacing: -0.6px;
  line-height: 68px;
  font-weight: 500;
  color: #324590;
}
.footer .footer__layout .footer__layout__info h2 a:hover {
  color: #4353FF;
}
@media (max-width: 1280px) {
  .footer .footer__layout .footer__layout__info h2 a {
    font-size: 40px;
    padding-bottom: 17px;
  }
}
@media (max-width: 1024px) {
  .footer .footer__layout .footer__layout__info h2 a {
    letter-spacing: -0.75px;
    line-height: 29px;
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 24px;
  }
}
@media (max-width: 380px) {
  .footer .footer__layout .footer__layout__info h2 a {
    font-size: 32px;
  }
}
.footer .footer__layout .footer__layout__info .footer__layout__info__content {
  display: flex;
  flex-direction: row;
  letter-spacing: 0.3px;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 22px;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1280px) {
  .footer .footer__layout .footer__layout__info .footer__layout__info__content {
    flex-direction: column;
    align-items: baseline;
  }
}
@media (max-width: 768px) {
  .footer .footer__layout .footer__layout__info .footer__layout__info__content {
    line-height: 28px;
    flex-direction: row;
  }
  .footer .footer__layout .footer__layout__info .footer__layout__info__content li:nth-child(2) {
    display: none;
  }
}
.footer .footer__layout .footer__layout__info .footer__layout__info__content li {
  letter-spacing: 0.3px;
  line-height: 28px;
  font-weight: 500;
  font-size: 17px;
  color: #324590;
}
.footer .footer__layout .footer__layout__info .footer__layout__info__content li a:hover {
  color: #4353FF;
}
.footer .footer__layout .footer__layout__info .footer__layout__info__links {
  gap: 2rem;
  flex-direction: row;
  display: flex;
  padding-bottom: 64px;
  line-height: 17px;
  font-weight: 500;
  font-size: 13px;
  color: #324590;
}
@media (max-width: 768px) {
  .footer .footer__layout .footer__layout__info .footer__layout__info__links {
    display: none;
  }
}
.footer .footer__layout .footer__layout__info .footer__layout__info__links a:hover {
  color: #4353FF;
}
@media (max-width: 1280px) {
  .footer .footer__layout .footer__layout__info .footer__layout__info__links {
    gap: 1rem;
    flex-direction: column;
  }
}
.footer .footer__layout .footer__layout__info .footer__layout__copyright {
  max-width: 500px;
  letter-spacing: 0.5px;
  line-height: 21px;
  font-weight: 500;
  font-size: 13px;
  padding-top: 16px;
  color: #888c9b;
}
@media (max-width: 768px) {
  .footer .footer__layout .footer__layout__info .footer__layout__copyright {
    width: calc(100% - 100px);
    max-width: 300px;
  }
}
.footer .footer__layout .footer__layout__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 300px;
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .footer .footer__layout .footer__layout__btns {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .footer .footer__layout .footer__layout__btns {
    height: auto;
  }
}
@media (max-width: 768px) {
  .footer .footer__layout .footer__layout__btns .footer__layout__btns__wrapper {
    padding: 0px 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
  }
}
.footer .footer__layout .footer__layout__btns .footer__layout__btns__wrapper .blue-button {
  padding: 18px 58px;
}
@media (max-width: 768px) {
  .footer .footer__layout .footer__layout__btns .footer__layout__btns__wrapper .blue-button {
    width: 100%;
  }
}
.footer .footer__layout .footer__layout__btns .footer__layout__btns__wrapper .blue-button span {
  font-size: 18px;
}
.footer .footer__layout .footer__layout__btns .footer__layout__btns__to-top {
  transform: rotate(-90deg);
}
@media (max-width: 786px) {
  .footer .footer__layout .footer__layout__btns .footer__layout__btns__to-top {
    position: absolute;
    bottom: 48px;
  }
}
.footer .footer__layout .footer__layout__btns .footer__layout__btns__to-top svg path {
  fill: #324590;
}
.footer .footer__layout .footer__layout__btns .footer__layout__btns__to-top:hover path {
  fill: #4353FF;
}

.modal-window {
  z-index: -1;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-window.open {
  z-index: 99999;
  opacity: 1;
}
.modal-window .modal-window__wrapper {
  display: block;
  background: #fff;
  width: 96%;
  height: 96%;
  max-width: 600px;
  max-height: 1000px;
  padding: 2rem;
  animation: styles_modalOpen__E8h6_ 0.3s ease-out;
  overflow: scroll;
  position: relative;
}
@keyframes styles_modalOpen__E8h6_ {
  0% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.modal-window .modal-window__body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
.modal-window .modal-window__body h3 {
  line-height: 24px;
  font-size: 19px;
  letter-spacing: 2%;
  line-height: 21px;
  font-weight: 500;
}
.modal-window .modal-window__body .modal-window__top {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  flex-direction: row;
}
.modal-window .modal-window__body .modal-window__top h2 {
  letter-spacing: 0.14px;
  line-height: 38px;
  font-weight: 500;
  font-size: 28px;
  align-self: flex-end;
}
@media (max-width: 640px) {
  .modal-window .modal-window__body .modal-window__top h2 {
    letter-spacing: 0.13px;
    line-height: 25px;
    font-weight: 500;
    font-size: 19px;
  }
}
.modal-window .modal-window__body .modal-window__top .modal-window__close {
  padding: 0.5rem 1.75rem;
  border: 1px solid #A9B2D9;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .modal-window .modal-window__body .modal-window__top .modal-window__close {
    position: absolute;
    bottom: 0px;
    left: calc(60% - 100px);
  }
}
@media (max-width: 450px) {
  .modal-window .modal-window__body .modal-window__top .modal-window__close {
    left: calc(68% - 100px);
  }
}
.modal-window .modal-window__body .modal-window__top .modal-window__close:hover {
  border: 1px solid #4353FF;
}
.modal-window .modal-window__body .modal-window__top .modal-window__close:hover svg path {
  fill: #4353FF;
}
.modal-window .modal-window__body .modal-window__top .modal-window__close svg path {
  fill: #324590;
}
.modal-window .modal-window__body form {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.modal-window .modal-window__body .modal-window__inputs {
  gap: 15px;
  flex-direction: column;
  display: flex;
}
.modal-window .modal-window__body .modal-window__inputs .modal-window__input {
  border: 1px solid #324590;
  line-height: 28px;
  font-size: 28px;
  letter-spacing: 0.5px;
  line-height: 26px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
  outline: none;
}
.modal-window .modal-window__body .modal-window__inputs .modal-window__input::-moz-placeholder {
  сolor: #324590;
}
.modal-window .modal-window__body .modal-window__inputs .modal-window__input::-webkit-input-placeholder {
  сolor: #324590;
}
.modal-window .modal-window__body .modal-window__inputs .modal-window__input:-ms-input-placeholder {
  сolor: #324590;
}
.modal-window .modal-window__body .modal-window__inputs .modal-window__input::-moz-placeholder {
  сolor: #324590;
}
.modal-window .modal-window__body .modal-window__interests {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}
.modal-window .modal-window__body .modal-window__interests .modal-window__interests__blocks {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.modal-window .modal-window__body .modal-window__interests .modal-window__interests__blocks label {
  cursor: pointer;
}
.modal-window .modal-window__body .modal-window__interests .modal-window__interests__blocks label input {
  display: none;
}
.modal-window .modal-window__body .modal-window__interests .modal-window__interests__blocks label input[type=checkbox]:checked ~ span {
  background: #324590;
  color: #fff;
}
.modal-window .modal-window__body .modal-window__interests .modal-window__interests__blocks label span {
  border: 1px solid #a9b2d9;
  padding: 8px 15px;
  color: #324590;
  border-radius: 30px;
  font-size: 13px;
  letter-spacing: 4%;
  line-height: 17px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.modal-window .modal-window__body .modal-window__comments {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-window .modal-window__body .modal-window__comments textarea {
  resize: none;
  outline: none;
  height: 146px;
  --tw-text-opacity: 1;
  color: rgb(32 33 36/var(--tw-text-opacity));
  letter-spacing: 0.4px;
  line-height: 30px;
  font-size: 17px;
  padding: 16px 20px;
  --tw-border-opacity: 1;
  border-color: rgb(169 178 217/var(--tw-border-opacity));
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 100%;
}
.modal-window .modal-window__body .modal-window__comments textarea:hover {
  border: 1px solid #324590;
}
.modal-window .modal-window__body .modal-window__personal .modal-window__personal__wrapper {
  gap: 0.75rem;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.modal-window .modal-window__body .modal-window__personal input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #324590;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}
.modal-window .modal-window__body .modal-window__personal input[type=checkbox]:checked::before {
  transform: scale(1);
}
.modal-window .modal-window__body .modal-window__personal input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 1px;
  background-color: rgba(0, 0, 0, 0);
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2px;
  transform: scale(0);
  transition: transform 0.25s ease-in-out;
  background-image: url("../img/tick.svg");
}
.modal-window .modal-window__body .modal-window__bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
@media (max-width: 768px) {
  .modal-window .modal-window__body .modal-window__bottom {
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .modal-window .modal-window__body .modal-window__bottom .modal-window__bottom__file {
    display: none;
  }
}
.modal-window .modal-window__body .modal-window__bottom label input {
  display: none;
}
.modal-window .modal-window__body .modal-window__bottom label .modal-window__addfile {
  letter-spacing: 0.4px;
  line-height: 30px;
  font-weight: 500;
  font-size: 17px;
  gap: 0.75rem;
  align-items: center;
  flex-direction: row;
  display: flex;
  cursor: pointer;
}
.modal-window .modal-window__body .modal-window__bottom label .modal-window__addfile span {
  letter-spacing: 0.4px;
  line-height: 30px;
  font-weight: 500;
  font-size: 17px;
  color: #324590;
}
.modal-window .modal-window__body .modal-window__bottom .blue-button {
  padding: 18px 72px;
}
@media (max-width: 768px) {
  .modal-window .modal-window__body .modal-window__bottom .blue-button {
    width: 100%;
  }
}

.video-banner {
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 45px;
}
@media (min-width: 1024px) {
  .video-banner {
    padding-left: 128px;
    padding-right: 128px;
  }
}
@media (min-width: 768px) {
  .video-banner {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (min-width: 768px) {
  .video-banner {
    margin-bottom: 106px;
  }
}
.video-banner .video-banner__wrapper {
  width: 100%;
  height: 500px;
}
@media (max-width: 768px) {
  .video-banner .video-banner__wrapper {
    height: 263px;
  }
}
.video-banner .video-banner__wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 768px) {
  .video-banner .video-banner__wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 263px;
    -o-object-fit: cover;
    object-fit: cover;
    animation: styles_show-opacity__ltT_ 0.5s ease;
  }
}
.video-banner .video-banner__wrapper .masthead-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 256px;
}
@media (max-width: 1024px) {
  .video-banner .video-banner__wrapper .masthead-container {
    padding-left: 128px;
  }
}
@media (max-width: 768px) {
  .video-banner .video-banner__wrapper .masthead-container {
    padding-left: 0px;
  }
}
.video-banner .video-banner__wrapper .masthead-container h1 {
  color: white;
  letter-spacing: -0.5px;
  font-weight: 500;
  font-size: 26px;
  bottom: 20px;
  position: absolute;
  font-size: 57px;
  bottom: 72px;
}
@media (max-width: 1280px) {
  .video-banner .video-banner__wrapper .masthead-container h1 {
    letter-spacing: -1px;
    line-height: 57px;
    font-size: 40px;
    bottom: 64px;
  }
}
@media (max-width: 1024px) {
  .video-banner .video-banner__wrapper .masthead-container h1 {
    font-size: 40px;
    line-height: 40px;
    bottom: 48px;
  }
}
@media (max-width: 768px) {
  .video-banner .video-banner__wrapper .masthead-container h1 {
    font-size: 32px;
    bottom: 20px;
  }
}
@media (max-width: 640px) {
  .video-banner .video-banner__wrapper .masthead-container h1 {
    font-size: 26px;
  }
}
.video-banner .video-banner__wrapper .masthead-container h1 .masthead-container__line {
  overflow: hidden;
  padding-bottom: 0.65rem;
}
.video-banner .video-banner__wrapper .masthead-container h1 .masthead-container__line:first-child .line.opacity-anim {
  transition-delay: 0.3s;
}
.video-banner .video-banner__wrapper .masthead-container h1 .masthead-container__line:nth-child(2) .line.opacity-anim {
  transition-delay: 0.4s;
}
.video-banner .video-banner__wrapper .masthead-container h1 .masthead-container__line:nth-child(3) .line.opacity-anim {
  transition-delay: 0.5s;
}/*# sourceMappingURL=main.css.map */